/* Global Styles*/

#wrapper{
     width: 100%;
     background-color: #f1f9f4;

}

#container {
     width: 1160px;
     margin: 0 auto;
}

body {
     font-family: "helvetica";
     min-height: 800px;   
}

.colorbox{
     background-color: grey;
}

@font-face {
    font-family: 'quicksandlight';
    src: url('quicksand-light-webfont.eot');
    src: url('quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('quicksand-light-webfont.woff') format('woff'),
         url('quicksand-light-webfont.ttf') format('truetype'),
         url('quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*header styles*/

.float_container {
     display:block;
     overflow:hidden;
     margin: 0 auto;
     
}

#circle {
    width: 5px;
    height: 5px;
    background: yellow;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    float: left;
}

#header{
    margin: 0 auto;
    padding-top: 40px;
    width: 1060px;
    margin-left: 50px;
    margin-right: 40px;
    


}

#header p {
     float: left;
     margin-top: 20px;
     line-height: 18px;
     font-size: 15px;
     color: #3ab8d2;
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
     font-style: italic;

     }



h1 {
     text-indent: -9999px;
     background: url("../images/logo.png") no-repeat;
     height: 160px;
     width: 160px;
     float: left;
}

#corner_logo{
     float: left;
     padding-top: 20px;
     width: 390px;
     text-transform: uppercase;
     letter-spacing: 0.075em;
}


#logo {
     width: 385px;
     height: auto;
     float: left;
     margin-left: 45px;
     
}


#nav {
     float: left;
     width: 240px;
     padding-top: 50px;
     display: block;

    

}

#nav ul li{
     display: inline;

}

#nav ul li a{
     text-decoration: none;
     margin-left:5px;
     margin-left: 5px;
     color: #3ab8d2;
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
     font-size: 16px;
     font-style: italic;
     text-transform: uppercase;
}

#nav ul li a:hover{
    border-bottom: 5px solid #66cdcf;
    padding-bottom: 3px;


}

/* MAIN CONTENT STYLES */


.works{
     width: 1100px;
     margin: 0 20px 0 20px;
     padding-top: 80px;
     display: block;
     
}

.works2{
     width: 1100px;
     margin: 0 20px 0 20px;
     padding-top: 20px;
     display: block;
     
}

.work1{
     background-color: grey;
     width: 243px;
     height: 300px;
     margin-left: 28px;
     margin-bottom: 20px;
     display: block;
     float: left;
}

.work2 {
    background-color: grey;
     width: 243px;
     height: 300px;
     margin-left: 28px;
     margin-bottom: 20px;
     display: block;
     float: left;

}

/* FOOTER STYLES */

footer{
     font-size: 10px;
     color: #828282;
     width: 1060px;
     margin: 0 50px;
     padding-top: 40px;
     display: block;

}

#footer_contents {
    float: left;
    display: inline-block;

}

#logo-footer {
    float: left;
    border-right: 1px solid #828282;
    margin-right: 30px;
    padding-right: 20px; 
}

